.container
  padding-top 65px
  text-align center
  overflow hidden
.ContentSectionContainer
  padding 80px 0
  // background-image url('./assets/img/pattens/mb2.jpg')
  background-size cover
  background-attachment fixed
  background-color white
  color #2f2f2f
  text-align center
  h1,h3
    margin 0
    letter-spacing 2px
  h1
    margin-bottom 5px
  h3
    color #595959
    font-family abel
  p
    max-width 800px
    color #595959
    margin 50px auto
    line-height 30px
