.block
  height 20vw
  background-size cover
  background-position top center
  width calc(33.33% - 10px)
  margin 5px
  flex-shrink 0
.container
  padding-top 60px
  display flex
  flex-wrap wrap
  background rgb(245, 245, 245)
