.container
  padding 50px 0
  background-image url('../home/assets/img/pattens/footer_lodyas2.png')
  color white
  text-align center
  letter-spacing 2px
  h1
    font-size 14px
    font-family abel
    text-transform uppercase
    font-weight 200
  h2
    font-size 14px
    font-family abel
    color rgb(222, 222, 222)
  img
    width 40px
    padding 0 10px
    transition 0.2s
    cursor pointer
    &:hover
      transform scale(1.1)
