.container
  position fixed
  top 0
  height 65px
  padding 0 5%
  background white
  z-index 10
  left 0
  right 0
  display flex
  align-items center
  box-shadow 0px 12px 8px -15px rgba(0,0,0,0.46)
  background-color rgb(251, 251, 251)
  img
    width 100px
  .navigations
    margin-left auto
    ul li
      display inline-flex
      padding 0 20px
      color rgb(50, 49, 49)
      cursor pointer
